/* **********REGOLE GENERALI ********** */
body {
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.container-large {
    max-width: 1300px;
    margin: 0 auto;
}

.just-content {
    justify-content: space-between;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.button {
    font-size: 1em;
    padding: 5px 12px;
    cursor: pointer;
    text-align: center;
}

.button-blue {
    background-color: #0061ff;
    color: white;
}

/* HEADER */
#main-header {
    position: fixed;
    z-index: 30px;
    top: 0;
    left: 0;
    width: 100%;
}
/* MAIN */

main {
    margin-top: 70px;
}

.main-nav {
    height: 70px;
    width: 98%;
    margin: 0 auto;
    align-items: center;
}

main header > .container-large {
    height: 500px;
}

.nav-sx .flex {
    align-items: center;
}

.nav-list .flex {
    gap: 30px;
}

.logo {
    margin-right: 30px;
}

main > section {
    margin-top: 30px;
}

.plan-col {
    min-height: 400px;
}

#costumers {
    display: flex;
    justify-content: space-between;
}

.big-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.big-box > div {
    width: 50%;
    height: 50%;
}

#features .flex > div {
    min-height: 400px;
}

#find-partner .flex > div {
    min-height: 400px;
}

#full-background {
    background-color: rgb(116, 149, 221);
    width: 100vw;
    margin-top: 0;
}

/* FOOTER */
footer {
    
}
