/* **********REGOLE GENERALI ********** */
body {
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.just-content {
    justify-content: space-between;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.button {
    font-size: 1em;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

.button-blue {
    background-color: #0061ff;
    color: white;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

/* HEADER */
#main-header {
    position: fixed;
    z-index: 30px;
    top: 0;
    left: 0;
    width: 100%;
}

.main-nav {
    height: 70px;
    width: 98%;
    margin: 0 auto;
    align-items: center;
}

main header {
    background-color: #b4d0e7;
}

.nav-sx .flex {
    align-items: center;
}

.nav-list .flex {
    gap: 30px;
}

.logo {
    margin-right: 30px;
}

/* MAIN */

main {
    margin-top: 70px;
}

h1 {
    font-size: 78px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.jumbotron-paragraph.column {
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
}

.jumbotron-img.col-8 {
    position: relative;
}

.jumbotron-img.col-8.col-8 img {
    position: absolute;
    top: 0;
    left: 0;
}

.fa-solid.fa-arrow-down {
    font-size: 3em;
    font-weight: bold;
    padding: 15px 0;
    cursor: pointer;
}

main > section {
    margin-top: 30px;
}

.plan-col {
    min-height: 400px;
}

#costumers {
    display: flex;
    justify-content: space-between;
}

.big-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.big-box > div {
    width: 50%;
    height: 50%;
}

#features .flex > div {
    min-height: 400px;
}

#find-partner .flex > div {
    min-height: 400px;
}

#full-background {
    background-color: rgb(116, 149, 221);
    width: 100vw;
    margin-top: 0;
}

/* FOOTER */
footer {
    
}
