/* **********REGOLE GENERALI ********** */
body {
    font-family: 'Noto Sans', sans-serif;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.just-content {
    justify-content: space-between;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}

.margin-bottom-50 {
    margin-bottom: 30px;
}

.button {
    font-size: 1em;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

.button-blue {
    background-color: #0061ff;
    color: white;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

/* HEADER */
#main-header {
    position: fixed;
    z-index: 30px;
    top: 0;
    left: 0;
    width: 100%;
}

.main-nav {
    height: 70px;
    width: 98%;
    margin: 0 auto;
    align-items: center;
}

main header {
    background-color: #b4d0e7;
}

.nav-sx .flex {
    align-items: center;
}

.nav-list .flex {
    gap: 30px;
}

.logo {
    margin-right: 30px;
}

/* MAIN */

main {
    margin-top: 70px;
}

h1 {            /* QUI INIZIA JUMBOTRON/ */
    font-size: 78px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.jumbotron-paragraph.column {
    align-items: flex-start;
    gap: 30px;
}

.jumbotron-img.col-8 {
    position: relative;
}

.jumbotron-img.col-8.col-8 img {
    position: absolute;
    top: 0;
    left: 0;
}

.fa-solid.fa-arrow-down {
    font-size: 3em;
    cursor: pointer;
    padding: 40px 0;
    margin-bottom: 0;
}             /* QUI FINISCE JUMBOTRON */

/* INIZIO SECTION 1 MAIN (3 COLONNE) */
main > section {
    margin-top: 120px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

.mounth {
    color: gray;
}

.plan-col {
    min-height: 400px;
    border: 1px solid gray;
}

.plan-title {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.plan-selector {
    margin-bottom: 30px;
}

.plan-selector span {
    padding-right: 50px;
}

.plan-body {
    margin: 0 auto;
    padding: 0 30px;
}

li.flex {
    gap: 10px;
}

.plan-body-description>*>*,
.plan-body-pack>*>*:not([class^="button"]) {
    padding: 15px 0;
}

.plan-body .button-blue {
    width: 100%;
    font-size: 14px;
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.price,
.info {
    display: block;
}

.price {
    font-weight: bold;
}

.info a {
    text-decoration: underline;
    color: #0061ff;
}

.plan-body-description i {
    color: #0061ff;
}

hr {
    height: 0;
    width: 40px;
    color: gray;
}

#costumers {
    display: flex;
    justify-content: space-between;
}

.big-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.big-box > div {
    width: 50%;
    height: 50%;
}

#features .flex > div {
    min-height: 400px;
}

#find-partner .flex > div {
    min-height: 400px;
}

#full-background {
    background-color: rgb(116, 149, 221);
    width: 100vw;
    margin-top: 0;
}

/* FOOTER */
footer {
    
}
